.titlepic{
	position: relative;
	color: #fff;
	height: 500px;
	background: #262930;
	overflow: hidden;
}

.titlepic img{
	width: 1920px;
	height: 500px;
	position: absolute;
	left: 50%;
	top: 0;
	margin-left: -960px;
}

.titlepic .titletext1{
	font-size: 40px;
	position: absolute;
	left: 19%;
	top: 188px;
}

.titlepic .titletext2{
	font-size: 24px;
	position: absolute;
	left: 19%;
	top: 290px;
}

.midtext{
	width: 100%;
	background: #f0f4f7;
	padding: 48px 0 80px;
}

.midtext p{
	color: #333;
	text-align: center;
	margin: 0 auto;
}

.midtext .midtext1{
	font-size: 34px;
	line-height: 66px;
}

.midtext .midtext2{
	font-size: 16px;
}

.bottitle{
	font-size: 34px;
	color: #333;
	line-height: 180px;
	text-align: center;
	margin: 0 auto;
}

.botcontent{
	width: 1200px;
	overflow: hidden;
	margin: 0 auto 40px;
}

.botcontent li{
	width: 180px;
	margin: 0 30px;
	float: left;
}

.botcontent div{
	width: 120px;
	height: 120px;
	margin: 0 30px 18px;
	border-radius: 50%;
	text-align: center;
	color: #fff;
	line-height: 120px;
	font-size: 20px;
	background: #09dbd4;
}

.botcontent p{
	width: 100%;
	font-size: 16px;
	line-height: 29px;
}
.framework{
	width:128px;
	height:128px;
	border-radius:5px;
	background:#2c313d;
	font-size:20px;
	text-align:center;
	line-height:128px;
	color:#fff;
	position:absolute;
	top:180px;
	left:20px;
}
.frameworkImg{
	position:absolute;
	top:0;
	left:-750px;
	width:700px;
	height:500px;
	background:url(http://hfdzhg.cn/img/cdyHome/index1/framework.png) no-repeat center center;
	 background-origin:content;                
    background-position:50% 50%;              
    background-size:contain; 
    transition: 1s;
}